.frame-5,
.frame-5 * {
  box-sizing: border-box;
}


.frame-5 {
    background: radial-gradient(133.43% 151.45% at -2.07% -1.14%, #60A4FF 0%, #5278FF 0.01%, #6CCAFF 99.99%, #99B5FF 100%);
  width: 550px;
  height: 600px;
  overflow: hidden;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 550px;
    height: 600px;
    overflow: hidden;
}
.ellipse-3 {
  background: #ffffff;
  border-radius: 50%;
  width: 225px;
  height: 225px;
  position: absolute;
  left: 163px;
  top: 340px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.group-4 {
  position: absolute;
  inset: 0;
}
.rectangle-15 {
  background: #ffffff;
  border-radius: 35px;
  width: 400px;
  height: 124.95px;
  position: absolute;
  left: 75px;
  top: 128.05px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.activate {
  color: #1f3b70;
  text-align: center;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 48px;
  line-height: 130px;
  font-weight: 500;
  position: absolute;
  left: 175px;
  top: 122px;
  width: 201px;
  height: 131px;
  display: flex;
  align-items: center;
  justify-content: center;
}
nput:focus, textarea:focus, select:focus{
    outline: none;
   }
   #activation_submit{
     background-color: transparent;
     width: 50px;
     height: 50px;
     position: absolute;
     top :69%;
     left:78%;
     border: none;
 
   }
     .frame-2,
 .frame-2 * {
   box-sizing: border-box;
 }
 .frame-2 {
     background: radial-gradient(133.43% 151.45% at -2.07% -1.14%, #60A4FF 0%, #5278FF 0.01%, #6CCAFF 99.99%, #99B5FF 100%);
 
 
 Ellipse
   border-radius: 30px;
   width: 550px;
   height: 600px;
   position: relative;
   overflow: hidden;
 }
 .enter-the-activation-code {
   text-align: center;
   font-family: "-", sans-serif;
   font-size: 48px;
   line-height: 71px;
   font-weight: 400;
   position: absolute;
   left: 45px;
   top: 151px;
   width: 464px;
   display: flex;
   align-items: center;
   justify-content: center;
 }
 .enter-the-activation-code-span {
   color: #ffffff;
   font-family: "Poppins-Medium", sans-serif;
   font-size: 48px;
   line-height: 71px;
   font-weight: 500;
 }
 .enter-the-activation-code-span2 {
   color: linear-gradient(to left, #1f3a6f, #1f3a6f),
     linear-gradient(to left, #1f3a6f, #1f3a6f);
   font-family: "Poppins-SemiBold", sans-serif;
   font-size: 48px;
   line-height: 71px;
   font-weight: 600;
 }
 .group-8 {
   height: auto;
   position: absolute;
   left: 62px;
   top: 397px;
   overflow: visible;
 }
 .frame-1,
    .frame-1 * {
        box-sizing: border-box;
    }
    
    .frame-1 {
        background: radial-gradient(133.43% 151.45% at -2.07% -1.14%, #60A4FF 0%, #5278FF 0.01%, #6CCAFF 99.99%, #99B5FF 100%);


        Ellipse border-radius: 30px;
        width: 550px;
        height: 600px;
        position: relative;
        overflow: hidden;
    }

    .align-justify {
        width: 45px;
        height: 60px;
        position: absolute;
        left: 48px;
        top: 35px;
        overflow: visible;
    }

    .group-5 {
        position: absolute;
        inset: 0;
    }

    .ellipse-2 {
        background: #b5f2bb;
        border-radius: 50%;
        border-style: solid;
        border-color: #27ff70;
        border-width: 17px;
        width: 250px;
        height: 250px;
        position: absolute;
        left: 150px;
        top: 288px;
    }

    .ellipse-1 {
        background: #ffffff;
        border-radius: 50%;
        width: 219.3px;
        height: 219.3px;
        position: absolute;
        left: 165.35px;
        top: 303px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    .track {
        color: #5c5c5c;
        text-align: center;
        font-family: "Poppins-Bold", sans-serif;
        font-size: 40px;
        line-height: 100px;
        font-weight: 700;
        position: absolute;
        left: 206px;
        top: 374px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .want-to-launch-the-price-tracker {
        color: #ffffff;
        text-align: center;
        font-family: "Poppins-Medium", sans-serif;
        font-size: 40px;
        line-height: 52px;
        font-weight: 500;
        position: absolute;
        left: 90px;
        top: 116px;
        width: 367px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .frame-4,
.frame-4 * {
  box-sizing: border-box;
}
.frame-4 {
    background: radial-gradient(133.43% 151.45% at -2.07% -1.14%, #60A4FF 0%, #5278FF 0.01%, #6CCAFF 99.99%, #99B5FF 100%);


Ellipse
  border-radius: 30px;
  width: 550px;
  height: 600px;
  position: relative;
  overflow: hidden;
}
.group-7 {
  position: absolute;
  inset: 0;
}
.group-3 {
  width: 550px;
  height: 664px;
  position: static;
}
.rectangle-14 {
  background: linear-gradient(
    180deg,
    rgba(31, 59, 112, 1) 0%,
    rgba(49, 86, 156, 1) 100%
  );
  border-radius: 40px 40px 0px 0px;
  border-style: solid;
  border-color: transparent;
  border-width: 16px;
  width: 550px;
  height: 180px;
  position: absolute;
  left: 0px;
  top: 545px;
  box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-12 {
  background: #ffffff;
  border-radius: 60px;
  width: 421.93px;
  height: 425px;
  position: absolute;
  left: 64px;
  top: 61px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.set-a-price-bar {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 32px;
  line-height: 130px;
  font-weight: 500;
  position: absolute;
  left: 0px;
  top: 571px;
  width: 297.83px;
  height: 128px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-2 {
  width: 516px;
  height: 688px;
  position: absolute;
  left: 0px;
  top: -21px;
  overflow: visible;
}
.play {
  width: 550px;
  height: 24px;
  position: absolute;
  left: 466px;
  top: 836px;
  overflow: hidden;
}
.vector2 {
  height: auto;
  position: absolute;
  right: 9.64%;
  left: 86.73%;
  width: 3.64%;
  bottom: 10.9%;
  top: 85.93%;
  height: 3.17%;
  overflow: visible;
}
.container-1{
    display: none;
}
.container-2{
    display: none;
}
.container-3{
    display: none;
}
.container-4{
    display: none;
}

input:focus{
    outline: none;
}